/***************
 * Resize grip *
 ***************/

.grip {
    background-color: transparent;
    background-image: url("assets/resize-grip.svg");
}

/*******************
 * Pane separators *
 *******************/
.pane-separator {
    background-image: url("assets/pane-separator-grip.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.pane-separator:hover {
    background-image: url("assets/pane-separator-grip-prelight.svg");
}

.pane-separator.vertical {
    background-image: url("assets/pane-separator-grip-vertical.svg");
}

.pane-separator.vertical:hover {
    background-image: url("assets/pane-separator-grip-vertical-prelight.svg");
}

/*************************
 * Header bar separator  *
 *************************/
.header-bar > GtkBox > .separator.vertical {
    -GtkWidget-wide-separators: 1;
    -GtkWidget-separator-width: 2px;
    background: transparent;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: transparent;
    border-image: transparent;
}


/*************************
 * Check and Radio items *
 *************************/

/* draw regular check and radio items using our SVG assets */

.check,
.view.cell.check {
	-gtk-icon-source: -gtk-scaled(url("assets/check-normal.png"));
	background-image: url("assets/check-normal.png");
	background-repeat: no-repeat;
	background-position: center;
}

.check:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/check-normal-ins.png"));
	background-image: url("assets/check-normal-ins.png");
}

.check row:insensitive {
	background-color: transparent;
}

.check:active,
.check:checked,
.view.cell.check:active,
.view.cell.check:checked {
	-gtk-icon-source: -gtk-scaled(url("assets/check-active.png"));
	background-image: url("assets/check-active.png");
}

.check:active:insensitive,
.check:checked:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/check-active-ins.png"));
	background-image: url("assets/check-active-ins.png");
}

.check:inconsistent {
	-gtk-icon-source: -gtk-scaled(url("assets/check-mixed-active.png"));
	background-image: url("assets/check-mixed-active.png");
}

.check:inconsistent:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/check-mixed-active-ins.png"));
	background-image: url("assets/check-mixed-active-ins.png");
}

.radio,
.view.cell.radio {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-normal.png"));
	background-image: url("assets/radio-normal.png");
	background-repeat: no-repeat;
	background-position: center;
}

.radio:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-normal-ins.png"));
	background-image: url("assets/radio-normal-ins.png");
}

.radio row:insensitive {
	background-color: transparent;
}

.radio:active,
.view.cell.radio:active,
.radio:checked,
.view.cell.radio:checked {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-active.png"));
	background-image: url("assets/radio-active.png");
}

.radio:active:insensitive,
.radio:checked:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-active-ins.png"));
	background-image: url("assets/radio-active-ins.png");
}

.radio:inconsistent {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-active.png"));
	background-image: url("assets/radio-mixed-active.png");
}

.radio:inconsistent:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-active-ins.png"));
	background-image: url("assets/radio-mixed-active-ins.png");
}

.sidebar .view.radio:active,
.sidebar .view.radio:active:focus,
.sidebar .view.radio:active:hover,
.sidebar .view.radio:checked,
.sidebar .view.radio:checked:focus,
.sidebar .view.radio:checked:hover {
	-gtk-icon-source: -gtk-scaled(url("assets/sidebar-radio-checked.svg"));
	background-image: url("assets/sidebar-radio-checked.svg");
}

.sidebar .view.radio:hover {
	-gtk-icon-source: -gtk-scaled(url("assets/sidebar-radio-prelight.svg"));
	background-image: url("assets/sidebar-radio-prelight.svg");
}

.sidebar .view.radio:active:selected,
.sidebar .view.radio:active:selected:focus,
.sidebar .view.radio:checked:selected,
.sidebar .view.radio:checked:selected:focus {
	-gtk-icon-source: -gtk-scaled(url("assets/sidebar-radio-selected.svg"));
	background-image: url("assets/sidebar-radio-selected.svg");
}

.sidebar .view.radio:selected:hover,
.sidebar .view.radio:selected:focus {
	-gtk-icon-source: -gtk-scaled(url("assets/sidebar-radio-selected-prelight.svg"));
	background-image: url("assets/sidebar-radio-selected-prelight.svg");	
}

/*************
 * GtkSwitch *
 *************/
GtkSwitch.trough {
 	background-image: url("assets/switch-off.png");
}

GtkSwitch.trough:active {
	background-image: url("assets/switch-on.png");
}

GtkSwitch.trough:insensitive {
	background-image: url("assets/switch-off-ins.png");
}

GtkSwitch.trough:active:insensitive {
	background-image: url("assets/switch-on-ins.png");
}

/*********************
 * GtkScale's slider *
 *********************/
.scale.slider,
.scale.slider.horizontal {
	background-image: url("assets/slider.png");
}

.scale.slider:hover,
.scale.slider.horizontal:hover {
	background-image: url("assets/slider-hover.png");
}

.scale.slider:active,
.scale.slider:active:hover,
.scale.slider.horizontal:active,
.scale.slider.horizontal:active:hover {
	background-image: url("assets/slider-hover.png");
}

.scale.slider:insensitive,
.scale.slider:insensitive:hover,
.scale.slider.horizontal:insensitive,
.scale.slider.horizontal:insensitive:hover {
	background-image: url("assets/slider-ins.png");
}

.scale.scale-has-marks-above.slider.horizontal {
	background-image: url("assets/slider.png");
}

.scale.scale-has-marks-above.slider.horizontal:hover {
	background-image: url("assets/slider-hover.png");
}

.scale.scale-has-marks-above.slider.horizontal:active,
.scale.scale-has-marks-above.slider.horizontal:active:hover {
	background-image: url("assets/slider-hover.png");
}

.scale.scale-has-marks-above.slider.horizontal:insensitive,
.scale.scale-has-marks-above.slider.horizontal:insensitive:hover {
	background-image: url("assets/slider-ins.png");
}

.scale.scale-has-marks-above.slider.vertical {
	background-image: url("assets/slider.png");
}

.scale.scale-has-marks-above.slider.vertical:hover {
	background-image: url("assets/slider-hover.png");
}

.scale.scale-has-marks-above.slider.vertical:active,
.scale.scale-has-marks-above.slider.vertical:active:hover {
	background-image: url("assets/slider-hover.png");
}

.scale.scale-has-marks-above.slider.vertical:insensitive,
.scale.scale-has-marks-above.slider.vertical:insensitive:hover {
	background-image: url("assets/slider-ins.png");
}

.scale.scale-has-marks-below.slider.horizontal {
	background-image: url("assets/slider.png");
}

.scale.scale-has-marks-below.slider.horizontal:hover {
	background-image: url("assets/slider-hover.png");
}

.scale.scale-has-marks-below.slider.horizontal:active,
.scale.scale-has-marks-below.slider.horizontal:active:hover {
	background-image: url("assets/slider-hover.png");
}

.scale.scale-has-marks-below.slider.horizontal:insensitive,
.scale.scale-has-marks-below.slider.horizontal:insensitive:hover {
	background-image: url("assets/slider-ins.png");
}

.scale.scale-has-marks-below.slider.vertical {
	background-image: url("assets/slider.png");
}

.scale.scale-has-marks-below.slider.vertical:hover {
	background-image: url("assets/slider-hover.png");
}

.scale.scale-has-marks-below.slider.vertical:active,
.scale.scale-has-marks-below.slider.vertical:active:hover {
	background-image: url("assets/slider-hover.png");
}

.scale.scale-has-marks-below.slider.vertical:insensitive,
.scale.scale-has-marks-below.slider.vertical:insensitive:hover {
	background-image: url("assets/slider-ins.png");
}

/********************************
 * Touch text selection handles *
 ********************************/
.cursor-handle.bottom {
	background-image: url("assets/slider.png");
}

.cursor-handle.top {
	background-image: url("assets/slider.png");
}

.entry.cursor-handle.top,
.cursor-handle.top {
	-gtk-icon-source: -gtk-icontheme("selection-start-symbolic");
}
.entry.cursor-handle.bottom,
.cursor-handle.bottom {
	-gtk-icon-source: -gtk-icontheme("selection-end-symbolic");
}

/****************
 * Content view *
 ****************/
.content-view.view {
	/*background-image: url("assets/noise-texture-light.png");*/
}
