@define-color panel_bg_color #1a1a1a;
@define-color panel_fg_color #ededed;
@define-color window_desc_bg_color #4e70b0;
@define-color window_desc_fg_color #00001e;
@define-color window_desc_bg_minimized_color #606090;
@define-color window_desc_fg_minimized_color #010101;
@define-color window_desc_bg_hover_color #a0a0a0;
@define-color window_desc_fg_hover_color #010101;
@define-color clock_bg_color @panel_bg_color;
@define-color clock_fg_color @panel_fg_color; 

PanelWindowHost, 
PanelWindowPagerEntry {
	background-image:linear-gradient(rgba(56,62,65,1),rgba(56,62,65,1),rgba(56,62,65,1));
	background-color: #3D3D3A;
	color: #3D3D3A;
    text-shadow: 0 1px 2px alpha (#000, 0.6);
    icon-shadow: 0 1px 2px alpha (#000, 0.6);
}

PanelWindowEntryDescriptions {
	background-image:linear-gradient(rgba(61,61,58,0.8));
	background-color: #dedede;
	color: #dedede;
	text-shadow: -1px 1px 1px #333330;
	font: Sans;
	font-size: 8px;
	font-weight: bold;
	text-shadow: 0 1px 2px alpha (#000, 0.6);
  icon-shadow: 0 1px 2px alpha (#000, 0.6);
  opacity: 0;
}

PanelTray * {
	background-color: #383E41;
	color: #383E41;
	text-shadow: 0 1px 2px alpha (#000, 0.6);
    icon-shadow: 0 1px 2px alpha (#000, 0.6);
	/*color: #3D3D3A;*/
}

PanelClock {
	background: @clock_bg_color;
	color: #BEBEBE;
	font: Droid Sans;
	text-shadow: 0 1px 2px alpha (#000, 0.6);
    icon-shadow: 0 1px 2px alpha (#000, 0.6);
}

PanelWindowEntry,
PanelWindowEntry:selected,
PanelWindowEntry:insensitive {
	background-color: transparent; 
	color: #BEBEBE;
	text-shadow: 0 1px 2px alpha (#000, 0.8);
    icon-shadow: 0 1px 2px alpha (#000, 0.8);
}

PanelWindowEntryDescriptions:active {
	background-image: linear-gradient(#BEBEBE, #BEBEBE, #BEBEBE);
	color: @panel_fg_color;
	text-shadow: 0 1px 2px alpha (#000, 0.3);
    icon-shadow: 0 1px 2px alpha (#000, 0.3);
}

PanelWindowEntry:active {
	background-image: linear-gradient(#BEBEBE, #BEBEBE, #BEBEBE);
	/*color: @panel_fg_color;*/
  color: #BEBEBE;
	text-shadow: 0 1px 2px alpha (#000, 0.3);
    icon-shadow: 0 1px 2px alpha (#000, 0.3);
}

PanelWindowEntry:prelight {
	background-image: linear-gradient(#3D9BDA, #3D9BDA, #3D9BDA);
	color: @panel_fg_color;
		text-shadow: 0 1px 2px alpha (#000, 0.3);
    icon-shadow: 0 1px 2px alpha (#000, 0.3);
}

PanelWindowPager {
	background-color: @theme_bg_color;
	color: @theme_fg_color;
	text-shadow: 0 1px 2px alpha (#000, 0.6);
    icon-shadow: 0 1px 2px alpha (#000, 0.6);
}

PanelCalendar {
	background: @theme_bg_color;
	color: #BEBEBE;
	text-shadow: 0 1px 2px alpha (#000, 0.6);
    icon-shadow: 0 1px 2px alpha (#000, 0.6);
}
/*
* {
	color: @theme_fg_color;
}

